@charset "utf-8";
/* CSS Document*/body{
 background-image: url('./image/latar.jpg');
 margin:0px;
 padding:0px;
}

ul{
 list-style:none;
}

a{
 text-decoration:none;
}

section{
 width:100%;
 height:100vh;
 position: relative;
}

nav{
 display: flex;
 justify-content: space-between;
 align-items:center;
 height:100px;
 background-image: url('./image/latar.jpg');;
 padding:0px 8%;
 
}
nav ul{
 display: flex;
}
 
nav ul li a{
 margin:30px;
 font-family:poppins;
 color:#9E00FF;
 font-size: 14px;
 font-weight:700;
}

.logo{
 font-family:RoadTest;
 color:#9E00FF;
 font-size: 20px;
 font-weight: bold;
}

.active{
 color:#9E00FF;
 font-weight:bold;
}

.text-container p:nth-child(1){
 font-family: calibri;
 font-weight: bold;
 color: #9E00FF;
 font-size: 24px;
}

.text-container p:nth-child(2){
 font-family: calibri;
 font-weight: bold;
 letter-spacing: 2px;
 color: #9E00FF;
 font-size: 48px;
}

.text-container p:nth-child(3){
 font-family: poppins;
 color: #9E00FF;
 font-size: 18px;
 line-height: 30px;
}

.text-container p:nth-child(4){
 font-family: calibri;
 color: #9E00FF;
 font-size: 17px;
 margin-top: 10px;
 line-height: 30px;
}

.text-container p{
 line-height: 0px;
 margin: 55px 0px 25px;
}

.text-container{
 position: absolute;
 left: 13%;
 top: 42%;
 transform: translate(-13%, -25%);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color:#9E00FF;
    min-width: 50px;
}
.dropdown-child a {
    color: white;
    padding: 5px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.text-container button{
 width: 130px;
 height: 45px;
 border-radius: 14px;
 font-family: poppins;
 font-weight: bold;
 font-size: 14px;
 outline: none;
 margin: 0px 0px;
}

button:active{
 transform: scale(1.1);
}

.model{
 height: 400px;
 position: absolute;
 bottom: 75px;
 left: 80%;
 transform: translateX(-65%);
}

footer p{
 font-family: calibri;
}

footer p:nth-child(1){
 font-size: 30px;
 font-weight:bold;
 color:#9E00FF;
 line-height:10px;
}

footer p:nth-child(2){
 font-size: 16px;
 color:#7e7d7d;
 width:600px;
 text-align: center;
}

footer{
 height:300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
 background-color: #191919;
}

body{margin:0; pading:0;}
.up-icon{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(192,192,192,0.3);
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color:#000000;
}
.fa-chevron-circle-up{font-size: 50px;line-height: 50px;color:##f6f5f5;}